* {
    margin: 0;
    padding: 0;
}

ons-splitter-side[animation=overlay] {
    border-left: 1px solid #bbb;
}

#team-scout ons-card .title {
    font-size: xx-large;
}

#team-scout ons-card .content {
    font-size: large;
}

.scout-page h2 {
    text-align: center;
}

.scout-page .btns {
    text-align: center;
    margin-top: 20px;
    padding: 0.1em;
}

.scout-page .button {
    margin: 11px 6px;
}

.scout-page ons-button.chosen {
    background-color: #025aa5;
}

#team-scout ons-card .title {
    font-size: xx-large;
}

.pitScout h2{
    padding-top: 10%;
    padding-bottom: 0%;
    margin-bottom: 0px;
    border: 0px;
}

#insertHeight h4{
    color: rgb(54, 54, 54);
    margin: 0%;
    margin-left: 10%;
    margin-top: 2%;
    border: 0px;
    padding: 0px;
    float: left;
    font-size: 100%;
}

#insertHeight h5{
    font-size: 100%;
    float: left;
    padding-right: 0%;
    margin-top: 2%;
    margin-right: 10%;
    margin-left: 1%;
}
#insertHeight ons-input{
    padding: 0%;
    margin: 0%;
    border: 0%;
    width: 10%;
    margin-top: 2%;
    float: left;
    margin-left: 6%;
    margin-right: 1%;
}

#insertHeight input{
    float: right;
    margin-right: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
    font-size: 100%;

}


.pitTitle h2{
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.scout-page textarea {
    padding: 6px 12px;
    font-size: 14px;
    width: -webkit-fill-available;
    width: -moz-fill-available;
    border-radius: 4px;
    height: 5em;
}

.scout-page textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.scout-page .button--large {
    width: auto;
    display: block;
}

.scout-page #teleop-run p {
    margin: 20px;
}

.scout-page #teleop-run .text-input {
    text-align: center;
    font-size: x-large;
}

.scout-page #teleop-run ons-input {
    padding: 7px;
    width: 3em;
}

.scout-page #teleop-run input:invalid {
    box-shadow: 0 0 5px 1px red;
}

.plus, .minus {
    font-size: x-large;
}

.scout-page #submit-match {
    width: initial;
}

.accordion .content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-out;
    width: 100%;
}

.accordion .head {
    width: 100%;
}

.accordion .head:before {
    margin-top: -3px;
    content: '\02795';
}

.accordion .head span {
    padding-left: 10px;
}

.accordion .active .head:before {
    content: "\2796";
}

.accordion .active .content {
    max-height: 500px;
    opacity: 1;
    margin-top: 10px;
}

#rank-criteria ons-range {
    width: 100%;
}

#rank-criteria p {
    margin: 10px 0px;
}