* {
    margin: 0;
    padding: 0;
}

ons-splitter-side[animation=overlay] {
    border-left: 1px solid #bbb;
}

#team-scout ons-card .title {
    font-size: xx-large;
}

#team-scout ons-card .content {
    font-size: large;
}

.scout-page h2 {
    text-align: center;
}

.scout-page .btns {
    text-align: center;
    padding: 0.1em;
}

.scout-page .button {
    margin: 11px 6px;
}

.scout-page ons-button.chosen {
    background-color: #025aa5;
}

#team-scout ons-card .title {
    font-size: xx-large;
}

.pitScout h2{
    padding-top: 6%;
    padding-bottom: 0%;
    margin-bottom: 0px;
    border: 0px;
    font-size: 125%;
}

#insertHeight h4{
    color: rgb(54, 54, 54);
    margin: 0%;
    margin-left: 10%;
    margin-top: 2%;
    border: 0px;
    padding: 0px;
    float: left;
    font-size: 100%;
}

#insertHeight h5{
    font-size: 100%;
    float: left;
    padding-right: 0%;
    margin-top: 2%;
    margin-right: 10%;
    margin-left: 1%;
}
#insertHeight ons-input{
    padding: 0%;
    margin: 0%;
    border: 0%;
    width: 10%;
    margin-top: 2%;
    float: left;
    margin-left: 6%;
    margin-right: 1%;
}

#insertHeight input{
    float: right;
    margin-right: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
    font-size: 100%;

}


.pitTitle h2{
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.scout-page textarea {
    padding: 6px 12px;
    font-size: 14px;
    width: -webkit-fill-available;
    width: -moz-fill-available;
    border-radius: 4px;
    height: 5em;
}

.scout-page textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.scout-page .button--large {
    width: auto;
    display: block;
}

.scout-page #teleop-run p {
    margin: 20px;
}

.scout-page .text-input {
    text-align: center;
    font-size: x-large;
    position: relative;
    top: -5px;
}

.scout-page #teleop-run ons-input {
    padding: 7px;
    width: 3em;
}

.scout-page input:invalid {
    box-shadow: 0 0 5px 1px red;
}

.plus, .minus {
    font-size: x-large;
}

.scout-page #submit-match {
    width: initial;
}

#rank-criteria ons-range {
    width: 100%;
}

#rank-criteria p {
    margin: 15px 0px;
}
#rank-criteria p ons-button {
    float: right;
    margin-top: -10px;
}
.indicator {
  width: 10px;
  height: 10px;
  margin: 0px 5px 0px 5px;
  border: 1px solid rgba(0, 0, 0, .2);
  float: left;
}
.indicator.green {
    background-color: #1ad81a;
}

#login p {
    margin-top: 0.8em;
}

#in-progress {
    color: #4c6ef5;
    padding-right: 0.3em;
}

#settings-btns {
    margin-top: 20px;
}
#settings-btns ons-button {
    margin: 10px 0px;
}

#match-view > div {
    text-align: left;
}

#match-view .section-head {
    background-color: white;
    padding: 11px;
    border-radius: 3px;
}

#match-view .section-content {
    max-height: 0px;
    overflow: hidden;
    transition: 1s all linear;
}

#match-view .section-content.active {
    max-height: 41em;
    overflow: scroll;
    padding: 5px;
}

.table-view-data table {
    border-collapse: collapse;
}

.table-view-data td {
    padding: 15px;
    border: 1px solid black;
}

